html{
  background-image: url('img/Wallpaper.PNG');
  height: 100%;
  width:auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  margin: 0;
  background-color: rgb(36, 35, 78);
  height: 5px;
 
}


.rectangle {
    display: block;
    height: 110px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 3px 3px 20px black;
  }

  .rectangle-huge {
    display: block;
    height: 800px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 3px 3px 20px black;
  }

  .emptyspace{
    margin-top: 80px;
  }

header{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  padding: 10px 20px;
  background-color: rgb(36, 35, 78);
  margin-top: 0px;
  overflow: hidden;
}

header img{
  max-width: 5%;    
  height: auto; 
}


h1{
  font-size: 40px;
  margin: 20px;
  color:rgb(255, 123, 0);
  margin-left: 50px;
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 10;

}

.blue{
  font-size: 40px;
  color:rgb(0, 225, 255);
  margin-top: 40px;
}

h2{
  color:black;
  margin-left: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  line-height: 5px;
  font-weight: 10;
}

h3{
  color:black;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  line-height: 5px;
}

a{
  color:orange;
  font-size: 20px;
}

p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  font-weight: 1;
}

ul{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  font-weight: 1;
}

ul li{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 20px;
  font-size: 16px;
  color: black;
  font-weight: 1;
}


.button {
  background-color: #ffffff;
  border: 3px solid orange;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 30px;
  padding: 2px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-red {
  background-color: red;
  cursor: pointer;
  border-radius: 35px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 2px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: orange;
}

a:hover{
  color:white;
  font-size: 20px;
}

.left{
  text-align: left;
}


